In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_excel("-Cross-Sell-Insurance.xlsx")
data.head()

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Vintage Score,Response
0,1,Male,44,1,0,> 2 Years,Yes,40454,217,1
1,2,Male,76,1,0,1-2 Year,No,33536,183,0
2,3,Male,47,1,0,> 2 Years,Yes,38294,27,1
3,4,Male,21,1,1,< 1 Year,No,28619,203,0
4,5,Female,29,1,1,< 1 Year,No,27496,39,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3999 non-null   int64
 1   Gender              3999 non-null   object
 2   Age                 3999 non-null   int64
 3   Driving_License     3999 non-null   int64
 4   Previously_Insured  3999 non-null   int64
 5   Vehicle_Age         3999 non-null   object
 6   Vehicle_Damage      3999 non-null   object
 7   Annual_Premium      3999 non-null   int64
 8   Vintage Score       3999 non-null   int64
 9   Response            3999 non-null   int64
dtypes: int64(7), object(3)
memory usage: 312.5+ KB

In [4]:
data['Response'].nunique()

2

In [5]:
data['Response'].unique()

array([1, 0], dtype=int64)

Assumption: If the Subscription 0, the service are cheaper and if the price range is 1 the service are costlier.

In [6]:
cat_col = ['Gender','Vehicle_Damage','Vehicle_Age']
data_dummy = pd.get_dummies(data,columns=cat_col,drop_first=True)

In [7]:
y = data_dummy[['Response']]
x = data_dummy.drop(columns=['Response'])

In [8]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
len(x_train),len(x_test),len(y_train),len(y_test)

(3199, 800, 3199, 800)

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=500)
model=rf.fit(x_train,y_train)
print('The model has been built sucessfully!! yeah!')

The model has been built sucessfully!! yeah!

In [11]:
#predicting on test data
y_test['Prediction']=model.predict(x_test)

In [12]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [13]:
print(confusion_matrix(y_test['Response'],y_test['Prediction']))

[[685  17]
 [ 89   9]]

In [14]:
print(accuracy_score(y_test['Response'],y_test['Prediction']))

0.8675

In [15]:
model.feature_importances_

array([0.22082807, 0.18721407, 0.00040396, 0.05197618, 0.19277714,
       0.21692183, 0.02232907, 0.07383776, 0.02098665, 0.01272527])

In [16]:
top4=pd.DataFrame(model.feature_importances_,x.columns)

In [17]:
top4.sort_values(by=0,ascending=False).head(4)

                       0
id              0.220828
Vintage Score   0.216922
Annual_Premium  0.192777
Age             0.187214

Building the SVM mode

In [18]:
from sklearn.svm import SVC

In [19]:
svc = SVC()
model = svc.fit(x_train,y_train)

In [20]:
y_test['Prediction'] = model.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [22]:
print(confusion_matrix(y_test['Response'],y_test['Prediction']))

[[702   0]
 [ 98   0]]

In [23]:
print(accuracy_score(y_test['Response'],y_test['Prediction']))

0.8775

Hence there is some difference in the accuracy